<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>{% block title %}Rock, Paper, Scissors{% endblock title %}</title>
        <link rel="stylesheet" href="/static/css/rps.css">
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css">
        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
          <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
          <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
        <![endif]-->
        <script type="text/javascript">
            var showForm = function() {
                $('form').slideDown(function() {
                    $('form input[type="text"]').focus();
                });
            };
        </script>
    </head>
    <body>
        <div id="main">
        {% block content %}
        {% endblock content %}
        </div>

        {% block form %}
        {% endblock form %}

        <script src="//code.jquery.com/jquery.min.js"></script>
        <script src="//ajax.microsoft.com/ajax/jquery.templates/beta1/jquery.tmpl.min.js"></script>
        <script src="/static/js/socketio/socket.io.min.js"></script>
        <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>

        {% block extra_js %}
        {% endblock extra_js %}
    </body>
</html>
